@charset "gb2312";
/* 幻灯片 1*/

#myFocus { width: 550px; height:300px; }
.banner { width : 550px; overflow : hidden; }



.focustext { width: 360px; background: #fff; height: 312px; overflow: hidden; }
.focustext section { color: #FFF; padding: 20px; height: 120px }
.focustext section h3 { line-height: 40px; font-size: 16px }
.focustext section h3 a { color: #FFF }
.focustext section h3 a:hover { text-decoration: underline }
.ft01 { background: #83AF9B }
.ft02 { background: #F77825 }
.focustext section:hover { }
/*左文章列表*/

.topnews { margin-top:360px; margin-left:220px; background-color:#fff;}
.topnews h2 { font-size: 16px; font-weight: bold; line-height: 36px; color: #333; border-bottom: #db6d4c 4px solid; }
.topnews h2 b { }
.topnews h2 span { float: right; font-size: 12px; font-weight: normal; }
.topnews h2 span a { display: inline-block; padding: 0 5px; }
.topnews h2 span a:hover { color: #000 }
.blogs { padding: 30px 0; position: relative; border-bottom: #CCC 1px solid; overflow: hidden }
.blogs h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin-bottom: 10px }
.blogs h3 a { color: #474645; }
.blogs h3 a:hover { color: #066; text-decoration: underline }
.blogs figure { float: left; width: 25%; overflow: hidden; }
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right; line-height: 22px; width: 72%; color: #756F71; position: relative }
.autor { overflow: hidden; clear: both; margin: 10px 0; margin-top:56px;display: inline-block; color: #838383; width: 100%; position: absolute; top: 110px; }
.autor span { margin: 0 10px 0 0; padding-left: 20px }
.autor span a { color: #759b08; }
.autor span a:hover { text-decoration: underline }
.lm { background: url(../images/newsbg01.png) no-repeat left center }
.dtime { background: url(../images/newsbg02.png) no-repeat left center }
.viewnum { background: url(../images/newsbg04.png) no-repeat left center }
.pingl { background: url(../images/newsbg03.png) no-repeat left center }
.tit01 h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }