.biaotilan1{
	position:absolute;
	width:auto;
	height:40px;
	left:200px;
	color:#666;
	font-size:24px; 
	font-weight:bolder;
	/*border:1px solid #000;*/
	text-align:center;
}
.biaotilan2{
	width:100px;
	height:40px;
	position:absolute;
	right:405px;
	color:#666;
	font-size:24px; 
	font-weight:bolder;
	/*border:1px solid #000;*/
	text-align:center;
}
.biaotilan3{
	width:100px;
	height:40px;
	position:absolute;
	right:300px;
	color:#666;
	font-size:24px; 
	font-weight:bolder;
	/*border:1px solid #000;*/
	text-align:left;
}
.biaotilan4{
	width:80px;
	height:40px;
	position:absolute;
	right:220px;
	color:#666;
	font-size:24px; 
	font-weight:bolder;
	/*border:1px solid #000;*/
	text-align:center;
}

.bigbox{
	background-color:#FFF;
	position:absolute;
	right:200px;
	left:200px;
	top:100px;

	}
.graybox{
	position:absolute;
	left:200px;
	top:0px;
	width:10px;
	height:100%;
	background-color:#eee;
}
.nav {
	position:absolute;
	left:0px;
	top:0px;
    line-height:30px;
    background-color:#fff;
	font-size:15px;
    width:200px;
    float:left;
    padding-top:20px;
	
}
.nav ul
{
list-style-type:none;
margin:0;
padding:0;
}
.nav ul a:link,a:visited
{
display:block;
color:#999;
background-color:#fff;
width:190px;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
.nav ul a:hover,a:active
{
background-color:#cc0000;
}

#section {
	background-color:#FFF;
	position:absolute;
	left:210px;
	top:0px;
    width:550px;
    float:left;

}


